<h1 class="text-center">Matters</h1>

<h3 class="text-center">Actions</h3>
<div class="container">
	<% @parks.each do |p| %>
		<div class="alert alert-success">
			<a href="/parks/<%= p.id %>">
				<%= p.name %>
			</a>
		</div>
	<% end %>
</div>