<h1 class="text-center"></h1>
 
<div class="text-center">
<!-- 	<%= image_tag("trebWhite.png", :alt => "trebuchet") %> -->
<h3 class="text-center"> CALENDAR<hr>[Year, Month, Week, Day]</h3>
<div id="calendar"></div>
</div>
<hr>

