<h1 class="text-center">Activities</h1>
<h3 class="text-center">Available Activities</h3>

<div class="container">
	<% @rangers.each do |r| %>
		<div class="alert alert-info">
			<a href="/rangers/<%= r.id %>">
				Ranger <%= r.name %>
			</a>
		</div>

	<% end %>
</div>